<div class="container">

            <!-- Section: Portfolio -->
            <section id="portfolio" class="mt-4 mb-3">

                <!-- Section heading -->
                <h3 class="text-center text-uppercase font-weight-bold mb-5 mt-5 pt-5 wow fadeIn" data-wow-delay="0.2s">
                    Наши
                    проекты</h3>

                <!-- Section description -->
                <p class="text-center grey-text my-5 w-responsive mx-auto wow fadeIn" data-wow-delay="0.2s">SINKLIT
                    BUSINESS
                    - производитель инновационных декоративных панелей для вентилируемых фасадов. Ассортимент
                    строительных
                    материалов, отвечающих требованиям последних тенденций и инноваций во всех климатических зонах,
                    постоянно обновляется. Компания SINKLIT BUSINESS следит за тенденциями новейших разработок в области
                    дизайна и технологий.</p>

            </section>
            <!-- Section: Portfolio -->

        </div>

        <div class="container-fluid">

            <div class="row mb-5 wow fadeIn" data-wow-delay="0.4s">

                <!-- Grid column -->
                <div class="col-md-12 mb-5">

                    <div id="mdb-lightbox-ui"></div>

                    <!-- Full width lightbox -->
                    <div class="mdb-lightbox">

                        <figure class="col-md-3">
                            <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(1).jpg"
                               data-size="1600x1067">
                                <img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(1).jpg"
                                     class="img-fluid z-depth-1">
                            </a>
                        </figure>

                        <figure class="col-md-3">
                            <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(136).jpg"
                               data-size="1600x1067">
                                <img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(136).jpg"
                                     class="img-fluid z-depth-1">
                            </a>
                        </figure>

                        <figure class="col-md-3">
                            <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(7).jpg"
                               data-size="1600x1067">
                                <img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(7).jpg"
                                     class="img-fluid z-depth-1">
                            </a>

                        </figure>
                        <figure class="col-md-3">
                            <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(137).jpg"
                               data-size="1600x1067">
                                <img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(137).jpg"
                                     class="img-fluid z-depth-1">
                            </a>
                        </figure>

                        <figure class="col-md-3">
                            <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(132).jpg"
                               data-size="1600x1067">
                                <img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(132).jpg"
                                     class="img-fluid z-depth-1">
                            </a>
                        </figure>

                        <figure class="col-md-3">
                            <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(131).jpg"
                               data-size="1600x1067">
                                <img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(131).jpg"
                                     class="img-fluid z-depth-1">
                            </a>
                        </figure>

                        <figure class="col-md-3">
                            <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(3).jpg"
                               data-size="1600x1067">
                                <img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(3).jpg"
                                     class="img-fluid z-depth-1">
                            </a>
                        </figure>

                        <figure class="col-md-3">
                            <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(134).jpg"
                               data-size="1600x1067">
                                <img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(134).jpg"
                                     class="img-fluid z-depth-1">
                            </a>
                        </figure>
                    </div>
                    <!-- Full width lightbox -->

                </div>
                <!-- Grid column -->

            </div>

        </div>

