{% extends 'pages.html' %}
{% load static %}
{% block title %}
    {{ seo.title }}
{% endblock %}
{% block seo %}
    {% if seo.description %}

        <meta name="description" content="{{ seo.description }}">

    {% endif %}
    {% if seo.og_title %}

        <meta property="og:title" content="{{ seo.og_title }}">

    {% elif seo.title %}

        <meta property="og:title" content="{{ seo.title }}">

    {% endif %}
    {% if seo.og_description %}

        <meta property="og:description" content="{{ seo.og_description }}">

    {% elif seo.description %}

        <meta property="og:description" content="{{ seo.description }}">

    {% endif %}
    {% if seo.og_url %}

        <meta property="og:url" content="{{ seo.og_url }}">

    {% elif request.path %}

        <meta property="og:url" content="{{ request.build_absolute_uri }}">

    {% endif %}
    {% if seo.og_image %}

        <meta property="og:image" content="{{ seo.og_image }}">

    {% endif %}
    {% if seo.og_type %}

        <meta property="og:type" content="{{ seo.og_type }}">

    {% endif %}
    {% if seo.meta1 %}

        {{ seo.meta1|safe }}

    {% endif %}
{% endblock %}
{% block content %}
    <section>

        <div class="view"
             style="height: 70vh; background-image: url('{{ news_item.img.url }}'); background-repeat: no-repeat; background-size: cover; background-position: center center;">

        </div>

    </section>

    </header>
    <!--Main Navigation-->

    <!--Main Layout-->
    <main>

        <div class="container-fluid mb-5">

            <!--Grid row-->
            <div class="row" style="margin-top: -100px;">

                <!--Grid column-->
                <div class="col-md-12 px-lg-5">
                    <!--Card-->
                    <div class="card pb-5 mx-md-3">
                        <div class="card-body">

                            <div class="container">

                                <!--Section heading-->
                                <h1 class="text-center h1 pt-4 mb-3">
                                    <strong>{{ news_item.title }}</strong>
                                </h1>

                                <div class="row">
                                    <div class="col-md-12 col-xl-12 d-flex justify-content-center">
                                        <p class="font-small dark-grey-text mb-1">
                                            {{ news_item.subtitle }}</p>
                                    </div>
                                </div>

                                <!--Grid row-->
                                <div class="row pt-lg-5 pt-3">
                                    <p class="dark-grey-text article">{{ news_item.content|safe }}</p>

                                    <!--Grid column-->

                                    <!--/Grid column-->

                                </div>
                                <!--/Grid row-->

                            </div>

                        </div>
                        <!--Grid row-->

                    </div>
                    <!--/Card-->
                </div>
                <!--/Grid column-->
            </div>
            <!--/Grid row-->
        </div>

    </main>

{% endblock %}
