{% extends 'pages.html' %}
{% load static %}
{% block title %}
    {{ block.super }} | {{ title }}
{% endblock %}
{% block content %}

    <section>

        <div class="view"
             style="height: 70vh; background-image: url('{% static 'img/construction.jpg' %}'); background-repeat: no-repeat; background-size: cover; background-position: center center;">

        </div>

    </section>

    </header>
    <!--Main Navigation-->

    <!--Main Layout-->
    <main>

        <div class="container-fluid mb-5">

            <!--Grid row-->
            <div class="row" style="margin-top: -100px;">

                <!--Grid column-->
                <div class="col-md-12 px-lg-5">
                    <!--Card-->
                    <div class="card pb-5 mx-md-3">
                        <div class="card-body">

                            <div class="container">

                                <!--Section heading-->
                                <h1 class="text-center h1 pt-4 mb-3">
                                    <strong>Группа компаний СИНКЛИТ</strong>
                                </h1>

                                <div class="row">
                                    <div class="col-md-12 col-xl-12 d-flex justify-content-center">
                                        <p class="font-small grey-text mb-0 ml-3"> Основанна в 2009</p>
                                    </div>
                                </div>

                                <!--Grid row-->
                                <div class="row pt-lg-5 pt-3">

                                    <!--Grid column-->
                                    <div class="col-md-12 col-xl-12">


                                            <!--Grid row-->
                                            <div class="row mt-3">

                                                <p class="dark-grey-text article">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                                                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                                                    id est laborum.</p>

                                                <h4 class="font-weight-bold mt-3 mb-4">
                                                    <strong>Lorem ipsum dolor sit amet</strong>
                                                </h4>

                                                <p class="dark-grey-text article">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                                    veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
                                                    enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                                                    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
                                                    nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
                                                    amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
                                                    incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>

                                                <blockquote class="blockquote">
                                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
                                                        erat a ante.</p>
                                                    <footer class="blockquote-footer">Someone famous in
                                                        <cite title="Source Title">Source Title</cite>
                                                    </footer>
                                                </blockquote>

                                                <p class="dark-grey-text article"> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                                    laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel
                                                    eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae
                                                    consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>

                                            </div>
                                            <!--Grid row-->

                                            <!--Grid row-->
                                            <div class="row mt-3 mb-4">

                                                <!--Grid column-->
                                                <div class="col-md-4 mb-2">
                                                    <div class="view zoom z-depth-1">
                                                        <img src="https://mdbootstrap.com/img/Photos/Others/img (28).jpg" class="img-fluid rounded-0" alt="sample-image">
                                                        <div class="mask flex-center">

                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Grid column-->

                                                <!--Grid column-->
                                                <div class="col-md-4 mb-2">
                                                    <div class="view zoom z-depth-1">
                                                        <img src="https://mdbootstrap.com/img/Photos/Others/img (41).jpg" class="img-fluid rounded-0 z-depth-1" alt="sample-image">
                                                        <div class="mask flex-center">

                                                        </div>
                                                    </div>

                                                </div>
                                                <!--Grid column-->

                                                <!--Grid column-->
                                                <div class="col-md-4">
                                                    <div class="view zoom z-depth-1">
                                                        <img src="https://mdbootstrap.com/img/Photos/Others/images/13.jpg" class="img-fluid rounded-0 z-depth-1" alt="sample-image">
                                                        <div class="mask flex-center">

                                                        </div>
                                                    </div>

                                                </div>
                                                <!--Grid column-->

                                            </div>
                                            <!--Grid row-->

                                            <!--Grid row-->
                                            <div class="row mb-2 mt-4">
                                                <p class="dark-grey-text article">Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis
                                                    et quasi architecto beatae vitae dicta sunt explicabo. Ut enim ad minima
                                                    veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
                                                    nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit
                                                    qui in ea voluptate velit esse quam nihil molestiae consequatur, vel
                                                    illum qui dolorem eum fugiat quo voluptas nulla.</p>

                                                <li class="dark-grey-text article list-unstyled">
                                                    <strong>Nulla volutpat aliquam velit:</strong>
                                                    <ul>
                                                        <li>Phasellus iaculis neque</li>
                                                        <li>Purus sodales ultricies</li>
                                                        <li>Vestibulum laoreet porttitor sem</li>
                                                        <li>Ac tristique libero volutpat at</li>
                                                        <li>Vestibulum laoreet porttitor sem</li>
                                                    </ul>
                                                </li>

                                                <!--Grid column-->
                                                <div class="col-md-12 my-4">
                                                    <img src="https://mdbootstrap.com/img/Photos/Others/city10.jpg" class="img-fluid z-depth-1 rounded-0" alt="sample image">
                                                </div>
                                                <!--Grid column-->

                                                <p class="dark-grey-text article">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                                    veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
                                                    enim ipsam voluptatem quia voluptas sit aspernatur ut perspiciatis unde
                                                    omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                                                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                                    architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                                                    quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                                                    magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro
                                                    quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                                                    velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
                                                    magnam aliquam quaerat voluptatem.
                                            </div>


                                    </div>
                                    <!--/Grid column-->

                                </div>
                                <!--/Grid row-->

                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->

                    </div>
                    <!--/Card-->
                </div>
                <!--/Grid column-->
            </div>
            <!--/Grid row-->
        </div>

    </main>

{% endblock %}




