{% extends 'pages.html' %}
{% load static %}
{% block title %}
    {{ block.super }} | {{ title }}
{% endblock %}
{% block content %}

    <section>

        <div class="view"
             style="height: 70vh; background-image: url('{% static 'img/construction.jpg' %}'); background-repeat: no-repeat; background-size: cover; background-position: center center;">

        </div>

    </section>

    </header>
    <!--Main Navigation-->

    <!--Main Layout-->
    <main>

        <div class="container-fluid mb-5">


            <!--Section: Content-->
            <section class="contact-section dark-grey-text px-lg-5" style="margin-top: -100px;">

                <style>
                    .contact-section .form .btn-floating {
                        left: 3px;
                    }
                </style>

                <!-- Form with header -->
                <div class="card">

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-lg-8">

                            <div class="card-body form">

                                <!-- Header -->
                                <h3 class="font-weight-bold dark-grey-text mt-4"><i
                                        class="fas fa-envelope pr-2 mr-1"></i>Свяжитесь с нами:</h3>
                                <form method="post" class="needs-validation" novalidate>
                                    {% csrf_token %}
                                    {{ form.non_field_errors }}
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="md-form mb-0">
                                                {{ post_form.name.errors }}
                                                <label for="{{ form.name.id_for_label }}" class="">Ваше имя*</label>
                                                {{ form.name }}
                                                <div class="valid-feedback">Отлично!</div>
                                                <div class="invalid-feedback">
                                                    {{ form.name.errors }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="md-form mb-0">
                                                {{ post_form.phone.errors }}
                                                <label for="{{ form.phone.id_for_label }}" class="">Ваш телефон*</label>
                                                {{ form.phone }}
                                                <div class="valid-feedback">Отлично!</div>
                                                <div class="invalid-feedback">
                                                    {{ form.phone.errors }}
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="md-form mb-0">
                                                {{ post_form.email.errors }}
                                                <label for="{{ form.email.id_for_label }}" class="">Ваш email*</label>
                                                {{ form.email }}
                                                <div class="valid-feedback">Отлично!</div>
                                                <div class="invalid-feedback">
                                                    {{ form.email.errors }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="md-form mb-0">
                                                {{ post_form.company_name.errors }}
                                                <label for="{{ form.company_name.id_for_label }}" class="">Название
                                                    организации</label>
                                                {{ form.company_name }}
                                                <div class="valid-feedback"></div>
                                                <div class="invalid-feedback">
                                                    {{ form.company_name.errors }}
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="md-form mb-0">
                                                {{ post_form.message.errors }}
                                                <label for="{{ form.message.id_for_label }}" class="">Ваше
                                                    сообщение</label>
                                                {{ form.message }}
                                                <div class="valid-feedback"></div>
                                                <div class="invalid-feedback">
                                                    {{ form.message.errors }}
                                                </div>
                                                <a type="submit" class="btn-floating btn-lg blue">
                                                    <i class="far fa-paper-plane"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </form>


                            </div>

                        </div>


                        <div class="col-lg-4">

                            <div class="card-body contact text-center h-100 white-text">

                                <h3 class="font-weight-bold my-4 pb-2">Контактная информация:</h3>
                                <ul class="text-lg-left list-unstyled ml-4">
                                    <li>
                                        <p><i class="fas fa-map-marker-alt pr-2"></i>Москва,
                                            123000</p>
                                    </li>
                                    <li>
                                        <p><i class="fas fa-phone pr-2"></i>8 (800) 200-36-25</p>
                                    </li>
                                    <li>
                                        <p><i class="fas fa-envelope pr-2"></i>contact@example.com
                                        </p>
                                    </li>
                                </ul>
                                <hr class="hr-light my-4">
                                <ul class="list-inline text-center list-unstyled">
                                    <li class="list-inline-item">
                                        <a class="p-2 fa-lg tw-ic">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="p-2 fa-lg li-ic">
                                            <i class="fab fa-linkedin-in"> </i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="p-2 fa-lg ins-ic">
                                            <i class="fab fa-instagram"> </i>
                                        </a>
                                    </li>
                                </ul>

                            </div>

                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Form with header -->

            </section>
            <!--Section: Content-->


        </div>

    </main>

{% endblock %}